[submodule "gml"]
	path = gml
	url = https://github.com/ilmola/gml.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
